<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyChCCJWIMGXsvlpf_Lzb3niXi1O09M51h0</string>
	<key>GCM_SENDER_ID</key>
	<string>747177256669</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ezytransact</string>
	<key>PROJECT_ID</key>
	<string>ezytransact-88e1d</string>
	<key>STORAGE_BUCKET</key>
	<string>ezytransact-88e1d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:747177256669:ios:81650c96ceb6c858c19d34</string>
</dict>
</plist>